@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.box-green {
  background-color: #536F16;
  height: 75vh;
  width: 45vw;
  margin-left: 20px;
  margin-right: 20px;
  background-image: linear-gradient(to right, #536F16 , white);
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  padding-top: 40px;
  padding-left: 40px;
}

@media (max-width: 390px) {
  .box-green {
    display: none;
  }
}

.name-in-box {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 600px) {
  .name-in-box {
    font-size: 2rem;
  }
}

@media (min-width: 190px) {
  .name-in-box {
    font-size: 3rem;
  }
}

.container {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex: inline; 
}

@media (max-width: 767px) {
  .container {
    width: auto;
    height: auto;
  }
}

@media (max-width: 546px) {
  .container {
    width: auto;
    height: auto;
  }
}

.mypic {
  border-radius: 50%;
  height: 75vh;
  width: auto;
  margin-left: 55px;
}

@media (max-width: 390px) {
  .mypic,.container {
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #536F16;
    background-image: linear-gradient(to top, #536F16 , white, #536F16);
  }
}

@media (max-width: 767px) {
  .mypic, .box-green {
    height: 50vh;
    width: 85%;
  }
}

h2 {
  text-align: center;
  font-size: 50.52px;
  font-family: 'Oswald', sans-serif;
  margin-top: 60px;
  margin-bottom: 5px;
  color: #536F16;
}

.aboutmetext {
  margin: auto;
  text-align: center;
  font-size: 21.3px;
  font-family: 'Oswald', sans-serif;
  width: 50%;
}

@media (max-width: 390px) {
  .aboutmetext {
    width: 85%;
  }
}

hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.skills_table {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.footer {
  height: 10vh;
  text-align: center;
  font-size: 41.3px;
  margin-top: 30px;
  background-color: #AA9473;
  background-image: linear-gradient(to top, #523A28 , white);
  color: #536F16;
}

.stories {
  width: 50%;
  margin-left: 50px;
}

.card {
  width:30%;
  margin: 15px;
  text-align: center;
}

@media (max-width: 875px){
  .card{
    width:45%;
  }
}

@media (max-width: 575px){
  .card{
    width:80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .card{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
  }
}
/* -------------Nav Bar-------------  */

.collapse-navbar-collapse {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;

}
.nav-link {
   color: #536F16;
   font-size:26px;
   margin-left: 60px;
   margin-right: 10px;
   font-family: 'Oswald', sans-serif;
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
  color:  #536F16
}

a, .nav-link {
  background-image: linear-gradient(
    to right,
    black,
    black 50%,
    #536F16 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease-in-out;
  font-family: 'Oswald', sans-serif;

}

a:before{
  content: '';
  background: black;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}

.features {
  display: flex;
  flex: wrap;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:125px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
}

.features2 {
  display: flex;
  flex: wrap;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:125px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
}

.info {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Oswald', sans-serif;
  width: 50%;
  font-size: 1.25rem;

}

h4 {
  font-family: 'Oswald', sans-serif;
  color: #536F16;
  margin-left: 50px;
}

h1,h3 {
  font-family: 'Oswald', sans-serif;
  color: #536F16;
  margin-top: 75px;
  text-align: center;
}

.contact {
  width: 33%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
}

.icons {
  margin: 15px
}

.photos {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

th, td {
  width:33%;
  text-align:center;
}